@tailwind base;
@tailwind components;
@tailwind utilities;

.Modal {
    background-color: #00000082;
}

body{
    min-height: 100vh;
}

button{
    transition: all .3s ease;
}

button:active {
    transform: scale(.9);
}